@if (ShowEmbed)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">Embed Video</b>
                    <!-- Close Button -->
                    <button type="button" class="close">
                        <span aria-hidden="true" @onclick="() => Show(false)">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <InputTextArea @bind-Value="Embed" class="form-control form-control-sm" style="height:200px"></InputTextArea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-xs" @onclick="() => Show(false)" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-xs" @onclick="Agree">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    // ImageSelected is an EventCallback that will
    // notify the parent component when an image is selected
    // passing the url of the image to the parent component
    [Parameter] public EventCallback<string> InsertVideo { get; set; }
    private string Embed { get; set; }
    private bool ShowEmbed = false;

    public async void Show(bool show)
    {
        ShowEmbed = show;
    }

    private async Task Agree()
    {
        await InsertVideo.InvokeAsync(Embed);
        ShowEmbed = false;
    }
}
