################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web.Api/bin/Debug/net7.0/Web.Api.dll
/Web.Api/bin/Debug/net7.0/Web.Api.exe
/Web.Api/bin/Debug/net7.0/Web.Api.pdb
/Web.Api/bin/Debug/net7.0/Web.Models.dll
/Web.Api/bin/Debug/net7.0/Web.Models.pdb
/Web.Api/bin/Release/net7.0/Web.Api.dll
/Web.Api/bin/Release/net7.0/Web.Api.exe
/Web.Api/bin/Release/net7.0/Web.Api.pdb
/Web.Api/bin/Release/net7.0/Web.Models.dll
/Web.Api/bin/Release/net7.0/Web.Models.pdb
/Web.Api/Files/c673ca6e-1fd8-4fbe-bb18-9db13fa59089/20240507101157_592_20240507101156_734_T18.png
/Web.Api/Files/c673ca6e-1fd8-4fbe-bb18-9db13fa59089/20240507101157_592_20240507101156_734_T18.png.webp
/Web.Api/Files/c673ca6e-1fd8-4fbe-bb18-9db13fa59089/Category/Thu-bong-hot-trend_638508519048386321.jpg
/Web.Api/Files/c673ca6e-1fd8-4fbe-bb18-9db13fa59089/Category/Thu-bong-hot-trend_638508519048386321.jpg.webp
/Web.Api/obj/Debug/net7.0/ref/Web.Api.dll
/Web.Api/obj/Debug/net7.0/refint/Web.Api.dll
/Web.Api/obj/Debug/net7.0/apphost.exe
/Web.Api/obj/Debug/net7.0/project.razor.vs.bin
/Web.Api/obj/Debug/net7.0/Web.Api.AssemblyInfo.cs
/Web.Api/obj/Debug/net7.0/Web.Api.AssemblyInfoInputs.cache
/Web.Api/obj/Debug/net7.0/Web.Api.assets.cache
/Web.Api/obj/Debug/net7.0/Web.Api.csproj.AssemblyReference.cache
/Web.Api/obj/Debug/net7.0/Web.Api.csproj.CoreCompileInputs.cache
/Web.Api/obj/Debug/net7.0/Web.Api.csproj.FileListAbsolute.txt
/Web.Api/obj/Debug/net7.0/Web.Api.dll
/Web.Api/obj/Debug/net7.0/Web.Api.GeneratedMSBuildEditorConfig.editorconfig
/Web.Api/obj/Debug/net7.0/Web.Api.genruntimeconfig.cache
/Web.Api/obj/Debug/net7.0/Web.Api.pdb
/Web.Api/obj/Debug/net7.0/Web.Api.sourcelink.json
/Web.Api/obj/Release/net7.0/PubTmp/Out/appsettings.json
/Web.Api/obj/Release/net7.0/PubTmp/Out/Web.Api.dll
/Web.Api/obj/Release/net7.0/PubTmp/Out/Web.Api.exe
/Web.Api/obj/Release/net7.0/PubTmp/Out/Web.Api.pdb
/Web.Api/obj/Release/net7.0/PubTmp/Out/Web.Models.dll
/Web.Api/obj/Release/net7.0/PubTmp/Out/Web.Models.pdb
/Web.Api/obj/Release/net7.0/ref/Web.Api.dll
/Web.Api/obj/Release/net7.0/refint/Web.Api.dll
/Web.Api/obj/project.assets.json
/Web.Api/obj/project.nuget.cache
/Web.Api/obj/Release/net7.0/apphost.exe
/Web.Api/obj/Release/net7.0/project.razor.vs.bin
/Web.Api/obj/Release/net7.0/PublishOutputs.7b3bdb89c7.txt
/Web.Api/obj/Release/net7.0/Web.Api.AssemblyInfo.cs
/Web.Api/obj/Release/net7.0/Web.Api.AssemblyInfoInputs.cache
/Web.Api/obj/Release/net7.0/Web.Api.assets.cache
/Web.Api/obj/Release/net7.0/Web.Api.csproj.AssemblyReference.cache
/Web.Api/obj/Release/net7.0/Web.Api.csproj.CoreCompileInputs.cache
/Web.Api/obj/Release/net7.0/Web.Api.csproj.FileListAbsolute.txt
/Web.Api/obj/Release/net7.0/Web.Api.dll
/Web.Api/obj/Release/net7.0/Web.Api.GeneratedMSBuildEditorConfig.editorconfig
/Web.Api/obj/Release/net7.0/Web.Api.genpublishdeps.cache
/Web.Api/obj/Release/net7.0/Web.Api.genruntimeconfig.cache
/Web.Api/obj/Release/net7.0/Web.Api.pdb
/Web.Api/obj/Release/net7.0/Web.Api.sourcelink.json
/Web.Api/obj/Web.Api.csproj.nuget.dgspec.json
/Web.Api/obj/Web.Api.csproj.nuget.g.props
/Web.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/Web.Backend/obj/Release/net7.0/ref/Web.Backend.dll
/Web.Backend/obj/Release/net7.0/refint/Web.Backend.dll
/Web.Backend/obj/Release/net7.0/scopedcss/Components/ImageSelector.razor.rz.scp.css
/Web.Backend/obj/Release/net7.0/scopedcss/Pages/Content/Components/MediaPictureCreate.razor.rz.scp.css
/Web.Backend/obj/Release/net7.0/staticwebassets/msbuild.Web.Backend.Microsoft.AspNetCore.StaticWebAssets.props
/Web.Backend/obj/project.assets.json
/Web.Backend/obj/project.nuget.cache
/Web.Backend/obj/Release/net7.0/blazor.boot.json
/Web.Backend/obj/Release/net7.0/blazor.publish.boot.json
/Web.Backend/obj/Release/net7.0/project.razor.vs.bin
/Web.Backend/obj/Release/net7.0/PublishOutputs.1f845c9f6f.txt
/Web.Backend/obj/Release/net7.0/staticwebassets.build.json
/Web.Backend/obj/Release/net7.0/staticwebassets.development.json
/Web.Backend/obj/Release/net7.0/staticwebassets.pack.json
/Web.Backend/obj/Release/net7.0/staticwebassets.publish.json
/Web.Backend/obj/Release/net7.0/wasm/for-publish/corebindings.o
/Web.Backend/obj/Release/net7.0/wasm/for-publish/dotnet.js
/Web.Backend/obj/Release/net7.0/wasm/for-publish/dotnet.wasm
/Web.Backend/obj/Release/net7.0/wasm/for-publish/driver.o
/Web.Backend/obj/Release/net7.0/wasm/for-publish/emcc-compile.rsp
/Web.Backend/obj/Release/net7.0/wasm/for-publish/emcc-link.rsp
/Web.Backend/obj/Release/net7.0/wasm/for-publish/icall-table.h
/Web.Backend/obj/Release/net7.0/wasm/for-publish/pinvoke-table.h
/Web.Backend/obj/Release/net7.0/wasm/for-publish/pinvoke.o
/Web.Backend/obj/Release/net7.0/wasm/for-publish/runtime-icall-table.h
/Web.Backend/obj/Release/net7.0/wasm/for-publish/wasm_m2n_invoke.g.h
/Web.Backend/obj/Release/net7.0/Web.Backend.AssemblyInfo.cs
/Web.Backend/obj/Release/net7.0/Web.Backend.AssemblyInfoInputs.cache
/Web.Backend/obj/Release/net7.0/Web.Backend.assets.cache
/Web.Backend/obj/Release/net7.0/Web.Backend.csproj.AssemblyReference.cache
/Web.Backend/obj/Release/net7.0/Web.Backend.csproj.CoreCompileInputs.cache
/Web.Backend/obj/Release/net7.0/Web.Backend.csproj.FileListAbsolute.txt
/Web.Backend/obj/Release/net7.0/Web.Backend.dll
/Web.Backend/obj/Release/net7.0/Web.Backend.GeneratedMSBuildEditorConfig.editorconfig
/Web.Backend/obj/Release/net7.0/Web.Backend.pdb
/Web.Backend/obj/Release/net7.0/Web.Backend.sourcelink.json
/Web.Backend/obj/Web.Backend.csproj.nuget.dgspec.json
/Web.Backend/obj/Web.Backend.csproj.nuget.g.props
/Web.Backend/obj/Web.Backend.csproj.nuget.g.targets
