USE [xn--c-nn-mua-m1a1g_vn_web]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](250) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttributeCategories]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeCategories](
	[AttributeId] [varchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_AttributeCategories] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[AttributeId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeContacts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeContacts](
	[AttributeId] [varchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_AttributeContacts] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeLanguages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeLanguages](
	[AttributeId] [varchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_AttributeLanguages] PRIMARY KEY CLUSTERED 
(
	[AttributeId] ASC,
	[CompanyId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeOrders]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeOrders](
	[AttributeId] [varchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_AttributeOrders] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attributes](
	[Id] [varchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[SourceId] [uniqueidentifier] NULL,
	[Type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Attributes] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeSourceLanguages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeSourceLanguages](
	[AttributeSourceId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_AttributeSourceLanguages] PRIMARY KEY CLUSTERED 
(
	[AttributeSourceId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeSources]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeSources](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AttributeSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttributeValueLanguages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeValueLanguages](
	[AttributeValueId] [varchar](50) NOT NULL DEFAULT (''),
	[LanguageCode] [varchar](5) NOT NULL,
	[Value] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_AttributeValueLanguages] PRIMARY KEY CLUSTERED 
(
	[AttributeValueId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeValues]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeValues](
	[Id] [varchar](50) NOT NULL DEFAULT (''),
	[SourceId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AttributeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](300) NULL,
	[TaxCode] [varchar](20) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[PublishDate] [datetime2](7) NULL,
	[Type] [nvarchar](20) NOT NULL DEFAULT (N'Organization'),
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyBranches]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyBranches](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Order] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_CompanyBranches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyConfigs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyConfigs](
	[Key] [nvarchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CompanyConfigs] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyDetails]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyDetails](
	[CompanyId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[DisplayName] [nvarchar](150) NOT NULL,
	[Slogan] [nvarchar](250) NULL,
	[Brief] [nvarchar](max) NOT NULL,
	[AboutUs] [nvarchar](max) NULL,
	[Motto] [nvarchar](max) NULL,
	[NickName] [nvarchar](150) NULL,
	[JobTitle] [nvarchar](150) NULL,
	[CoreValues] [nvarchar](max) NULL,
	[Mission] [nvarchar](max) NULL,
	[Vision] [nvarchar](max) NULL,
 CONSTRAINT [PK_CompanyDetails] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyDomains]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyDomains](
	[Domain] [nvarchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
 CONSTRAINT [PK_CompanyDomains] PRIMARY KEY CLUSTERED 
(
	[Domain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyLanguageConfigs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyLanguageConfigs](
	[LanguageCode] [varchar](5) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[LanguageKey] [varchar](50) NOT NULL,
	[Describe] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CompanyLanguageConfigs] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[LanguageKey] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyLanguages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyLanguages](
	[LanguageCode] [varchar](5) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CompanyLanguages] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Configs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configs](
	[Key] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[DefaultValue] [nvarchar](max) NOT NULL,
	[Describe] [nvarchar](max) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_Configs] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactAttributes]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactAttributes](
	[ContactId] [uniqueidentifier] NOT NULL,
	[AttributeId] [varchar](50) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ContactAttributes] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[ContactName] [nvarchar](200) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CustomerAddress] [nvarchar](300) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[CustomerPhone] [nvarchar](30) NOT NULL,
	[CustomerAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DebtCustomers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebtCustomers](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[TotalDebt] [decimal](18, 2) NOT NULL,
	[Debt] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_DebtCustomers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DebtSuppliers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebtSuppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[TotalDebt] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL DEFAULT ('2024-08-23T22:46:13.9130898+07:00'),
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_DebtSuppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemArticles]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemArticles](
	[ItemId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[DisplayDate] [datetime2](7) NOT NULL,
	[HTML] [nvarchar](max) NULL,
	[Type] [nvarchar](20) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_ItemArticles] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemAttributes]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemAttributes](
	[ItemId] [uniqueidentifier] NOT NULL,
	[AttributeId] [varchar](50) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_ItemAttributes] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[AttributeId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemCategories](
	[ItemId] [uniqueidentifier] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ItemCategories] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemCategoryComponent]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemCategoryComponent](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[ComponentList] [varchar](50) NOT NULL,
	[ComponentDetail] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ItemCategoryComponent] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemEvents]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemEvents](
	[ItemId] [uniqueidentifier] NOT NULL,
	[Place] [nvarchar](300) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ItemEvents] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemImages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemImages](
	[Image] [nvarchar](300) NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ItemImages] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[Image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemLanguages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemLanguages](
	[ItemId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Brief] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_ItemLanguages] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemMedias]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemMedias](
	[ItemId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Target] [varchar](10) NOT NULL,
	[Embed] [nvarchar](max) NULL,
	[Type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ItemMedias] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemProductAddOns]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemProductAddOns](
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductAddOnId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ItemProductAddOns] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[ProductAddOnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemProductGroupons]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemProductGroupons](
	[Id] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Orderd] [int] NOT NULL,
 CONSTRAINT [PK_ItemProductGroupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemProducts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemProducts](
	[ItemId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[DiscountType] [int] NOT NULL,
	[Code] [nvarchar](30) NULL,
	[SaleMin] [int] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PK_ItemProducts] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemRelateds]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemRelateds](
	[ItemId] [uniqueidentifier] NOT NULL,
	[RelatedId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ItemRelateds] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[RelatedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemReviews]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemReviews](
	[ItemId] [uniqueidentifier] NOT NULL,
	[ReviewFor] [uniqueidentifier] NOT NULL,
	[Vote] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[IsBuyer] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
	[IsReply] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
 CONSTRAINT [PK_ItemReviews] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](300) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[Order] [int] NOT NULL,
	[View] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemTags]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTags](
	[TagName] [nvarchar](max) NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[Slug] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ItemTags] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Languages]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Languages](
	[Code] [varchar](5) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Component] [varchar](50) NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleConfigDetails]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleConfigDetails](
	[ModuleId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_ModuleConfigDetails] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleConfigParams]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleConfigParams](
	[ModuleId] [uniqueidentifier] NOT NULL,
	[ParamName] [varchar](50) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ModuleConfigParams] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC,
	[ParamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleConfigs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleConfigs](
	[Id] [uniqueidentifier] NOT NULL,
	[SkinName] [varchar](50) NOT NULL,
	[OnTemplate] [bit] NOT NULL,
	[ComponentName] [varchar](50) NULL,
	[Position] [varchar](50) NOT NULL,
	[Order] [int] NOT NULL,
	[Apply] [bit] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ModuleConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleParams]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleParams](
	[ParamName] [varchar](50) NOT NULL,
	[ModuleName] [varchar](50) NOT NULL,
	[Describe] [nvarchar](250) NOT NULL,
	[DefaultValue] [nvarchar](250) NULL,
	[Type] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ModuleParams] PRIMARY KEY CLUSTERED 
(
	[ModuleName] ASC,
	[ParamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleName] [varchar](50) NOT NULL,
	[Describe] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ModuleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleSkins]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleSkins](
	[Id] [uniqueidentifier] NOT NULL,
	[HeaderFontSize] [int] NOT NULL,
	[HeaderFontColor] [varchar](10) NULL,
	[HeaderBackground] [nvarchar](300) NULL,
	[BodyFontSize] [int] NOT NULL,
	[BodyFontColor] [varchar](10) NULL,
	[BodyBackground] [nvarchar](300) NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
 CONSTRAINT [PK_ModuleSkins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderAttributes]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderAttributes](
	[OrderId] [uniqueidentifier] NOT NULL,
	[AttributeId] [varchar](50) NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OrderAttributes] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[AttributeId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDebts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDebts](
	[OrderId] [uniqueidentifier] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[DebitExpire] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderDebts] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDeliveries]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDeliveries](
	[OrderId] [uniqueidentifier] NOT NULL,
	[DeliveryId] [int] NOT NULL,
	[DeliveryCode] [nvarchar](max) NOT NULL,
	[DeliveryFee] [decimal](18, 2) NOT NULL,
	[COD] [bit] NOT NULL,
	[DeliveryNote] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderDeliveries] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderProducts] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[ConfirmDate] [datetime2](7) NULL,
	[SendDate] [datetime2](7) NULL,
	[ReceiveDate] [datetime2](7) NULL,
	[CancelDate] [datetime2](7) NULL,
	[Note] [nvarchar](300) NULL,
	[CustomerAddress] [nvarchar](300) NULL,
	[CustomerName] [nvarchar](200) NOT NULL DEFAULT (N''),
	[CustomerPhone] [nvarchar](30) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEOs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEOs](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[SeoUrl] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[MetaKeyWord] [nvarchar](500) NOT NULL,
	[MetaDescription] [nvarchar](500) NOT NULL,
	[NoItemId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SEOs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateComponents]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateComponents](
	[TemplateName] [varchar](5) NOT NULL,
	[ComponentName] [varchar](50) NOT NULL,
	[Describe] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_TemplateComponents] PRIMARY KEY CLUSTERED 
(
	[TemplateName] ASC,
	[ComponentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateLanguageKeys]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateLanguageKeys](
	[LanguageKey] [varchar](50) NOT NULL,
	[TemplateName] [varchar](5) NOT NULL,
 CONSTRAINT [PK_TemplateLanguageKeys] PRIMARY KEY CLUSTERED 
(
	[TemplateName] ASC,
	[LanguageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplatePositions]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplatePositions](
	[PositionName] [varchar](50) NOT NULL,
	[TemplateName] [varchar](5) NOT NULL,
	[ComponentName] [varchar](50) NOT NULL,
	[Describe] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_TemplatePositions] PRIMARY KEY CLUSTERED 
(
	[TemplateName] ASC,
	[PositionName] ASC,
	[ComponentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Templates](
	[TemplateName] [varchar](5) NOT NULL,
	[ImageName] [nvarchar](300) NULL,
	[IsPublic] [bit] NOT NULL,
	[IsPublished] [bit] NOT NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[TemplateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateSkins]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateSkins](
	[SkinName] [varchar](50) NOT NULL,
	[TemplateName] [varchar](5) NOT NULL,
	[ModuleName] [varchar](50) NOT NULL,
	[Describe] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_TemplateSkins] PRIMARY KEY CLUSTERED 
(
	[TemplateName] ASC,
	[SkinName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThirdParties]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThirdParties](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[ThirdPartyName] [nvarchar](50) NOT NULL,
	[ContentHTML] [nvarchar](max) NOT NULL,
	[ComponentName] [varchar](50) NOT NULL,
	[PositionName] [varchar](50) NOT NULL,
	[Apply] [bit] NOT NULL,
 CONSTRAINT [PK_ThirdParties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WarehouseConfigs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseConfigs](
	[Key] [nvarchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_WarehouseConfigs] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseFactorys]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseFactorys](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[Note] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_WarehouseFactorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputDebts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputDebts](
	[InputId] [uniqueidentifier] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[DebitExpire] [datetime2](7) NULL,
 CONSTRAINT [PK_WarehouseInputDebts] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputFromFactories]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputFromFactories](
	[FactoryId] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
	[FactoryName] [nvarchar](150) NOT NULL,
	[FactoryPhone] [nvarchar](30) NULL,
	[FactoryEmail] [nvarchar](100) NULL,
	[FactoryAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_WarehouseInputFromFactories] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputFromOrders]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputFromOrders](
	[InputId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WarehouseInputFromOrders] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputFromSuppliers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputFromSuppliers](
	[SourceId] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[SupplierPhone] [nvarchar](30) NULL,
	[SupplierEmail] [nvarchar](100) NULL,
	[SupplierAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_WarehouseInputFromSuppliers] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputFromWarehouses]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputFromWarehouses](
	[InputId] [uniqueidentifier] NOT NULL,
	[WarehouseId] [uniqueidentifier] NOT NULL,
	[WarehouseName] [nvarchar](150) NOT NULL,
	[WarehousePhone] [nvarchar](30) NULL,
	[WarehouseEmail] [nvarchar](100) NULL,
	[WarehouseAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_WarehouseInputFromWarehouses] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputInventories]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputInventories](
	[InputId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[InventoryNumber] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseInputInventories] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputProductCodes]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputProductCodes](
	[ProductCode] [nvarchar](100) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WarehouseInputProductCodes] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC,
	[ProductId] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputProducts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputProducts](
	[InputId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseInputProducts] PRIMARY KEY CLUSTERED 
(
	[InputId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInputs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInputs](
	[Id] [uniqueidentifier] NOT NULL,
	[WarehouseId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[InputCode] [nvarchar](50) NULL,
	[WarehouseFactoryId] [uniqueidentifier] NULL,
	[WarehouseSupplierId] [uniqueidentifier] NULL,
	[Type] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_WarehouseInputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseInventories]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseInventories](
	[WarehouseId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[InventoryNumber] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseInventories] PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputProductCodes]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputProductCodes](
	[ProductCode] [nvarchar](100) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[OutputId] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WarehouseOutputProductCodes] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[ProductId] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputProductDetails]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputProductDetails](
	[OutputId] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseOutputProductDetails] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[InputId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputProducts]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputProducts](
	[OutputId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseOutputProducts] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputs](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL DEFAULT ('0001-01-01T00:00:00.0000000'),
	[WarehouseId] [uniqueidentifier] NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[WarehouseFactoryId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_WarehouseOutputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputToFactories]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputToFactories](
	[OutputId] [uniqueidentifier] NOT NULL,
	[FactoryId] [uniqueidentifier] NOT NULL,
	[FactoryName] [nvarchar](150) NOT NULL,
	[FactoryPhone] [nvarchar](30) NULL,
	[FactoryEmail] [nvarchar](100) NULL,
	[FactoryAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_WarehouseOutputToFactories] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[FactoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputToOrders]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputToOrders](
	[OutputId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WarehouseOutputToOrders] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputToSuppliers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputToSuppliers](
	[OutputId] [uniqueidentifier] NOT NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[SupplierPhone] [nvarchar](30) NULL,
	[SupplierEmail] [nvarchar](100) NULL,
	[SupplierAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_WarehouseOutputToSuppliers] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[SourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseOutputToWarehouses]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOutputToWarehouses](
	[OutputId] [uniqueidentifier] NOT NULL,
	[WarehouseId] [uniqueidentifier] NOT NULL,
	[WarehouseName] [nvarchar](150) NOT NULL,
	[WarehousePhone] [nvarchar](30) NULL,
	[WarehouseEmail] [nvarchar](100) NULL,
	[WarehouseAddress] [nvarchar](300) NULL,
 CONSTRAINT [PK_WarehouseOutputToWarehouses] PRIMARY KEY CLUSTERED 
(
	[OutputId] ASC,
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
	[Type] [int] NOT NULL DEFAULT ((156)),
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseSuppliers]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseSuppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[Note] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
 CONSTRAINT [PK_WarehouseSuppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebConfigs]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebConfigs](
	[Id] [uniqueidentifier] NOT NULL,
	[TemplateName] [varchar](5) NOT NULL,
	[WebIcon] [nvarchar](300) NULL,
	[Header] [nvarchar](max) NULL,
	[Background] [nvarchar](300) NULL,
	[CanRightClick] [bit] NOT NULL,
	[CanSelectCopy] [bit] NOT NULL,
	[Keys] [nvarchar](max) NULL,
	[RegisDate] [datetime2](7) NULL,
	[ExperDate] [datetime2](7) NULL,
	[Hierarchy] [bit] NOT NULL,
	[FontColor] [nvarchar](max) NULL,
	[FontSize] [int] NOT NULL DEFAULT ((0)),
	[Image] [nvarchar](300) NULL,
 CONSTRAINT [PK_WebConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WebInfos]    Script Date: 8/25/2024 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebInfos](
	[CompanyId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [varchar](5) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Brief] [nvarchar](max) NOT NULL,
	[Keywords] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WebInfos] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DebtCustomers] ADD  DEFAULT ('2024-08-23T22:46:13.9456320+07:00') FOR [CreateDate]
GO
ALTER TABLE [dbo].[WarehouseFactorys] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [InputId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Companies_CompanyId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AttributeCategories]  WITH CHECK ADD  CONSTRAINT [FK_AttributeCategories_Attributes_CompanyId_AttributeId] FOREIGN KEY([CompanyId], [AttributeId])
REFERENCES [dbo].[Attributes] ([CompanyId], [Id])
GO
ALTER TABLE [dbo].[AttributeCategories] CHECK CONSTRAINT [FK_AttributeCategories_Attributes_CompanyId_AttributeId]
GO
ALTER TABLE [dbo].[AttributeCategories]  WITH CHECK ADD  CONSTRAINT [FK_AttributeCategories_ItemCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([ItemId])
GO
ALTER TABLE [dbo].[AttributeCategories] CHECK CONSTRAINT [FK_AttributeCategories_ItemCategories_CategoryId]
GO
ALTER TABLE [dbo].[AttributeContacts]  WITH CHECK ADD  CONSTRAINT [FK_AttributeContacts_Attributes_CompanyId_AttributeId] FOREIGN KEY([CompanyId], [AttributeId])
REFERENCES [dbo].[Attributes] ([CompanyId], [Id])
GO
ALTER TABLE [dbo].[AttributeContacts] CHECK CONSTRAINT [FK_AttributeContacts_Attributes_CompanyId_AttributeId]
GO
ALTER TABLE [dbo].[AttributeContacts]  WITH CHECK ADD  CONSTRAINT [FK_AttributeContacts_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[AttributeContacts] CHECK CONSTRAINT [FK_AttributeContacts_Companies_CompanyId]
GO
ALTER TABLE [dbo].[AttributeLanguages]  WITH CHECK ADD  CONSTRAINT [FK_AttributeLanguages_Attributes_CompanyId_AttributeId] FOREIGN KEY([CompanyId], [AttributeId])
REFERENCES [dbo].[Attributes] ([CompanyId], [Id])
GO
ALTER TABLE [dbo].[AttributeLanguages] CHECK CONSTRAINT [FK_AttributeLanguages_Attributes_CompanyId_AttributeId]
GO
ALTER TABLE [dbo].[AttributeOrders]  WITH CHECK ADD  CONSTRAINT [FK_AttributeOrders_Attributes_CompanyId_AttributeId] FOREIGN KEY([CompanyId], [AttributeId])
REFERENCES [dbo].[Attributes] ([CompanyId], [Id])
GO
ALTER TABLE [dbo].[AttributeOrders] CHECK CONSTRAINT [FK_AttributeOrders_Attributes_CompanyId_AttributeId]
GO
ALTER TABLE [dbo].[AttributeOrders]  WITH CHECK ADD  CONSTRAINT [FK_AttributeOrders_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[AttributeOrders] CHECK CONSTRAINT [FK_AttributeOrders_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_Attributes_AttributeSources_SourceId] FOREIGN KEY([SourceId])
REFERENCES [dbo].[AttributeSources] ([Id])
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_Attributes_AttributeSources_SourceId]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_Attributes_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_Attributes_Companies_CompanyId]
GO
ALTER TABLE [dbo].[AttributeSourceLanguages]  WITH CHECK ADD  CONSTRAINT [FK_AttributeSourceLanguages_AttributeSources_AttributeSourceId] FOREIGN KEY([AttributeSourceId])
REFERENCES [dbo].[AttributeSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeSourceLanguages] CHECK CONSTRAINT [FK_AttributeSourceLanguages_AttributeSources_AttributeSourceId]
GO
ALTER TABLE [dbo].[AttributeSources]  WITH CHECK ADD  CONSTRAINT [FK_AttributeSources_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeSources] CHECK CONSTRAINT [FK_AttributeSources_Companies_CompanyId]
GO
ALTER TABLE [dbo].[AttributeValueLanguages]  WITH CHECK ADD  CONSTRAINT [FK_AttributeValueLanguages_AttributeValues_AttributeValueId] FOREIGN KEY([AttributeValueId])
REFERENCES [dbo].[AttributeValues] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeValueLanguages] CHECK CONSTRAINT [FK_AttributeValueLanguages_AttributeValues_AttributeValueId]
GO
ALTER TABLE [dbo].[AttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_AttributeValues_AttributeSources_SourceId] FOREIGN KEY([SourceId])
REFERENCES [dbo].[AttributeSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeValues] CHECK CONSTRAINT [FK_AttributeValues_AttributeSources_SourceId]
GO
ALTER TABLE [dbo].[CompanyBranches]  WITH CHECK ADD  CONSTRAINT [FK_CompanyBranches_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyBranches] CHECK CONSTRAINT [FK_CompanyBranches_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanyConfigs]  WITH CHECK ADD  CONSTRAINT [FK_CompanyConfigs_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyConfigs] CHECK CONSTRAINT [FK_CompanyConfigs_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanyDetails]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDetails_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyDetails] CHECK CONSTRAINT [FK_CompanyDetails_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanyDomains]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDomains_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyDomains] CHECK CONSTRAINT [FK_CompanyDomains_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanyLanguageConfigs]  WITH CHECK ADD  CONSTRAINT [FK_CompanyLanguageConfigs_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyLanguageConfigs] CHECK CONSTRAINT [FK_CompanyLanguageConfigs_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanyLanguages]  WITH CHECK ADD  CONSTRAINT [FK_CompanyLanguages_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyLanguages] CHECK CONSTRAINT [FK_CompanyLanguages_Companies_CompanyId]
GO
ALTER TABLE [dbo].[ContactAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ContactAttributes_Contacts_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Contacts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContactAttributes] CHECK CONSTRAINT [FK_ContactAttributes_Contacts_Id]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Companies_CompanyId]
GO
ALTER TABLE [dbo].[DebtCustomers]  WITH CHECK ADD  CONSTRAINT [FK_DebtCustomers_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DebtCustomers] CHECK CONSTRAINT [FK_DebtCustomers_Customers_CustomerId]
GO
ALTER TABLE [dbo].[DebtSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_DebtSuppliers_WarehouseSuppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[WarehouseSuppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DebtSuppliers] CHECK CONSTRAINT [FK_DebtSuppliers_WarehouseSuppliers_SupplierId]
GO
ALTER TABLE [dbo].[ItemArticles]  WITH CHECK ADD  CONSTRAINT [FK_ItemArticles_ItemCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemArticles] CHECK CONSTRAINT [FK_ItemArticles_ItemCategories_CategoryId]
GO
ALTER TABLE [dbo].[ItemArticles]  WITH CHECK ADD  CONSTRAINT [FK_ItemArticles_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[ItemArticles] CHECK CONSTRAINT [FK_ItemArticles_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ItemAttributes_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemAttributes] CHECK CONSTRAINT [FK_ItemAttributes_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategories_ItemCategories_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ItemCategories] ([ItemId])
GO
ALTER TABLE [dbo].[ItemCategories] CHECK CONSTRAINT [FK_ItemCategories_ItemCategories_ParentId]
GO
ALTER TABLE [dbo].[ItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategories_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCategories] CHECK CONSTRAINT [FK_ItemCategories_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemCategoryComponent]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategoryComponent_ItemCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCategoryComponent] CHECK CONSTRAINT [FK_ItemCategoryComponent_ItemCategories_CategoryId]
GO
ALTER TABLE [dbo].[ItemEvents]  WITH CHECK ADD  CONSTRAINT [FK_ItemEvents_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemEvents] CHECK CONSTRAINT [FK_ItemEvents_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemImages]  WITH CHECK ADD  CONSTRAINT [FK_ItemImages_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemImages] CHECK CONSTRAINT [FK_ItemImages_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemLanguages]  WITH CHECK ADD  CONSTRAINT [FK_ItemLanguages_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemLanguages] CHECK CONSTRAINT [FK_ItemLanguages_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemMedias]  WITH CHECK ADD  CONSTRAINT [FK_ItemMedias_ItemCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMedias] CHECK CONSTRAINT [FK_ItemMedias_ItemCategories_CategoryId]
GO
ALTER TABLE [dbo].[ItemMedias]  WITH CHECK ADD  CONSTRAINT [FK_ItemMedias_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[ItemMedias] CHECK CONSTRAINT [FK_ItemMedias_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemProductAddOns]  WITH CHECK ADD  CONSTRAINT [FK_ItemProductAddOns_ItemProducts_ProductAddOnId] FOREIGN KEY([ProductAddOnId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemProductAddOns] CHECK CONSTRAINT [FK_ItemProductAddOns_ItemProducts_ProductAddOnId]
GO
ALTER TABLE [dbo].[ItemProductAddOns]  WITH CHECK ADD  CONSTRAINT [FK_ItemProductAddOns_ItemProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
GO
ALTER TABLE [dbo].[ItemProductAddOns] CHECK CONSTRAINT [FK_ItemProductAddOns_ItemProducts_ProductId]
GO
ALTER TABLE [dbo].[ItemProductGroupons]  WITH CHECK ADD  CONSTRAINT [FK_ItemProductGroupons_ItemProducts_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[ItemProducts] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemProductGroupons] CHECK CONSTRAINT [FK_ItemProductGroupons_ItemProducts_Id]
GO
ALTER TABLE [dbo].[ItemProducts]  WITH CHECK ADD  CONSTRAINT [FK_ItemProducts_ItemCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemProducts] CHECK CONSTRAINT [FK_ItemProducts_ItemCategories_CategoryId]
GO
ALTER TABLE [dbo].[ItemProducts]  WITH CHECK ADD  CONSTRAINT [FK_ItemProducts_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[ItemProducts] CHECK CONSTRAINT [FK_ItemProducts_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemReviews]  WITH CHECK ADD  CONSTRAINT [FK_ItemReviews_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemReviews] CHECK CONSTRAINT [FK_ItemReviews_Items_ItemId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Companies_CompanyId]
GO
ALTER TABLE [dbo].[ItemTags]  WITH CHECK ADD  CONSTRAINT [FK_ItemTags_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemTags] CHECK CONSTRAINT [FK_ItemTags_Items_ItemId]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Items_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Items_Id]
GO
ALTER TABLE [dbo].[ModuleConfigDetails]  WITH CHECK ADD  CONSTRAINT [FK_ModuleConfigDetails_ModuleConfigs_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[ModuleConfigs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleConfigDetails] CHECK CONSTRAINT [FK_ModuleConfigDetails_ModuleConfigs_ModuleId]
GO
ALTER TABLE [dbo].[ModuleConfigParams]  WITH CHECK ADD  CONSTRAINT [FK_ModuleConfigParams_ModuleConfigs_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[ModuleConfigs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleConfigParams] CHECK CONSTRAINT [FK_ModuleConfigParams_ModuleConfigs_ModuleId]
GO
ALTER TABLE [dbo].[ModuleConfigs]  WITH CHECK ADD  CONSTRAINT [FK_ModuleConfigs_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleConfigs] CHECK CONSTRAINT [FK_ModuleConfigs_Companies_CompanyId]
GO
ALTER TABLE [dbo].[ModuleParams]  WITH CHECK ADD  CONSTRAINT [FK_ModuleParams_Modules_ModuleName] FOREIGN KEY([ModuleName])
REFERENCES [dbo].[Modules] ([ModuleName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleParams] CHECK CONSTRAINT [FK_ModuleParams_Modules_ModuleName]
GO
ALTER TABLE [dbo].[ModuleSkins]  WITH CHECK ADD  CONSTRAINT [FK_ModuleSkins_ModuleConfigs_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[ModuleConfigs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleSkins] CHECK CONSTRAINT [FK_ModuleSkins_ModuleConfigs_Id]
GO
ALTER TABLE [dbo].[OrderAttributes]  WITH CHECK ADD  CONSTRAINT [FK_OrderAttributes_Attributes_CompanyId_AttributeId] FOREIGN KEY([CompanyId], [AttributeId])
REFERENCES [dbo].[Attributes] ([CompanyId], [Id])
GO
ALTER TABLE [dbo].[OrderAttributes] CHECK CONSTRAINT [FK_OrderAttributes_Attributes_CompanyId_AttributeId]
GO
ALTER TABLE [dbo].[OrderAttributes]  WITH CHECK ADD  CONSTRAINT [FK_OrderAttributes_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[OrderAttributes] CHECK CONSTRAINT [FK_OrderAttributes_Companies_CompanyId]
GO
ALTER TABLE [dbo].[OrderAttributes]  WITH CHECK ADD  CONSTRAINT [FK_OrderAttributes_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderAttributes] CHECK CONSTRAINT [FK_OrderAttributes_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDebts]  WITH CHECK ADD  CONSTRAINT [FK_OrderDebts_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDebts] CHECK CONSTRAINT [FK_OrderDebts_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDeliveries]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeliveries_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDeliveries] CHECK CONSTRAINT [FK_OrderDeliveries_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_ItemProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_ItemProducts_ProductId]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[SEOs]  WITH CHECK ADD  CONSTRAINT [FK_SEOs_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SEOs] CHECK CONSTRAINT [FK_SEOs_Companies_CompanyId]
GO
ALTER TABLE [dbo].[SEOs]  WITH CHECK ADD  CONSTRAINT [FK_SEOs_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[SEOs] CHECK CONSTRAINT [FK_SEOs_Items_ItemId]
GO
ALTER TABLE [dbo].[TemplateComponents]  WITH CHECK ADD  CONSTRAINT [FK_TemplateComponents_Templates_TemplateName] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[Templates] ([TemplateName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateComponents] CHECK CONSTRAINT [FK_TemplateComponents_Templates_TemplateName]
GO
ALTER TABLE [dbo].[TemplateLanguageKeys]  WITH CHECK ADD  CONSTRAINT [FK_TemplateLanguageKeys_Templates_TemplateName] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[Templates] ([TemplateName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateLanguageKeys] CHECK CONSTRAINT [FK_TemplateLanguageKeys_Templates_TemplateName]
GO
ALTER TABLE [dbo].[TemplatePositions]  WITH CHECK ADD  CONSTRAINT [FK_TemplatePositions_Templates_TemplateName] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[Templates] ([TemplateName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatePositions] CHECK CONSTRAINT [FK_TemplatePositions_Templates_TemplateName]
GO
ALTER TABLE [dbo].[TemplateSkins]  WITH CHECK ADD  CONSTRAINT [FK_TemplateSkins_Modules_ModuleName] FOREIGN KEY([ModuleName])
REFERENCES [dbo].[Modules] ([ModuleName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateSkins] CHECK CONSTRAINT [FK_TemplateSkins_Modules_ModuleName]
GO
ALTER TABLE [dbo].[TemplateSkins]  WITH CHECK ADD  CONSTRAINT [FK_TemplateSkins_Templates_TemplateName] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[Templates] ([TemplateName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateSkins] CHECK CONSTRAINT [FK_TemplateSkins_Templates_TemplateName]
GO
ALTER TABLE [dbo].[ThirdParties]  WITH CHECK ADD  CONSTRAINT [FK_ThirdParties_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThirdParties] CHECK CONSTRAINT [FK_ThirdParties_Companies_CompanyId]
GO
ALTER TABLE [dbo].[WarehouseConfigs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseConfigs_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseConfigs] CHECK CONSTRAINT [FK_WarehouseConfigs_Companies_CompanyId]
GO
ALTER TABLE [dbo].[WarehouseConfigs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseConfigs_Configs_Key] FOREIGN KEY([Key])
REFERENCES [dbo].[Configs] ([Key])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseConfigs] CHECK CONSTRAINT [FK_WarehouseConfigs_Configs_Key]
GO
ALTER TABLE [dbo].[WarehouseFactorys]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseFactorys_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseFactorys] CHECK CONSTRAINT [FK_WarehouseFactorys_Companies_CompanyId]
GO
ALTER TABLE [dbo].[WarehouseInputDebts]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputDebts_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputDebts] CHECK CONSTRAINT [FK_WarehouseInputDebts_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputFromFactories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromFactories_WarehouseFactorys_FactoryId] FOREIGN KEY([FactoryId])
REFERENCES [dbo].[WarehouseFactorys] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputFromFactories] CHECK CONSTRAINT [FK_WarehouseInputFromFactories_WarehouseFactorys_FactoryId]
GO
ALTER TABLE [dbo].[WarehouseInputFromFactories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromFactories_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputFromFactories] CHECK CONSTRAINT [FK_WarehouseInputFromFactories_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputFromOrders]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromOrders_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputFromOrders] CHECK CONSTRAINT [FK_WarehouseInputFromOrders_Orders_OrderId]
GO
ALTER TABLE [dbo].[WarehouseInputFromOrders]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromOrders_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputFromOrders] CHECK CONSTRAINT [FK_WarehouseInputFromOrders_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputFromSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromSuppliers_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputFromSuppliers] CHECK CONSTRAINT [FK_WarehouseInputFromSuppliers_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputFromSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromSuppliers_WarehouseSuppliers_SourceId] FOREIGN KEY([SourceId])
REFERENCES [dbo].[WarehouseSuppliers] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputFromSuppliers] CHECK CONSTRAINT [FK_WarehouseInputFromSuppliers_WarehouseSuppliers_SourceId]
GO
ALTER TABLE [dbo].[WarehouseInputFromWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromWarehouses_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputFromWarehouses] CHECK CONSTRAINT [FK_WarehouseInputFromWarehouses_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputFromWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputFromWarehouses_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputFromWarehouses] CHECK CONSTRAINT [FK_WarehouseInputFromWarehouses_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[WarehouseInputInventories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputInventories_ItemProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
GO
ALTER TABLE [dbo].[WarehouseInputInventories] CHECK CONSTRAINT [FK_WarehouseInputInventories_ItemProducts_ProductId]
GO
ALTER TABLE [dbo].[WarehouseInputInventories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputInventories_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputInventories] CHECK CONSTRAINT [FK_WarehouseInputInventories_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputProductCodes_WarehouseInputProducts_InputId_ProductId] FOREIGN KEY([InputId], [ProductId])
REFERENCES [dbo].[WarehouseInputProducts] ([InputId], [ProductId])
GO
ALTER TABLE [dbo].[WarehouseInputProductCodes] CHECK CONSTRAINT [FK_WarehouseInputProductCodes_WarehouseInputProducts_InputId_ProductId]
GO
ALTER TABLE [dbo].[WarehouseInputProducts]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputProducts_ItemProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputProducts] CHECK CONSTRAINT [FK_WarehouseInputProducts_ItemProducts_ProductId]
GO
ALTER TABLE [dbo].[WarehouseInputProducts]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputProducts_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputProducts] CHECK CONSTRAINT [FK_WarehouseInputProducts_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseInputs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputs_WarehouseFactorys_WarehouseFactoryId] FOREIGN KEY([WarehouseFactoryId])
REFERENCES [dbo].[WarehouseFactorys] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputs] CHECK CONSTRAINT [FK_WarehouseInputs_WarehouseFactorys_WarehouseFactoryId]
GO
ALTER TABLE [dbo].[WarehouseInputs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputs_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInputs] CHECK CONSTRAINT [FK_WarehouseInputs_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[WarehouseInputs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInputs_WarehouseSuppliers_WarehouseSupplierId] FOREIGN KEY([WarehouseSupplierId])
REFERENCES [dbo].[WarehouseSuppliers] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInputs] CHECK CONSTRAINT [FK_WarehouseInputs_WarehouseSuppliers_WarehouseSupplierId]
GO
ALTER TABLE [dbo].[WarehouseInventories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInventories_ItemProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseInventories] CHECK CONSTRAINT [FK_WarehouseInventories_ItemProducts_ProductId]
GO
ALTER TABLE [dbo].[WarehouseInventories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseInventories_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[WarehouseInventories] CHECK CONSTRAINT [FK_WarehouseInventories_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseInputProductCodes_InputId_ProductId_ProductCode] FOREIGN KEY([InputId], [ProductId], [ProductCode])
REFERENCES [dbo].[WarehouseInputProductCodes] ([InputId], [ProductId], [ProductCode])
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes] CHECK CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseInputProductCodes_InputId_ProductId_ProductCode]
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseInputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[WarehouseInputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes] CHECK CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseInputs_InputId]
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseOutputProducts_OutputId_ProductId] FOREIGN KEY([OutputId], [ProductId])
REFERENCES [dbo].[WarehouseOutputProducts] ([OutputId], [ProductId])
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes] CHECK CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseOutputProducts_OutputId_ProductId]
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseOutputs_OutputId] FOREIGN KEY([OutputId])
REFERENCES [dbo].[WarehouseOutputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputProductCodes] CHECK CONSTRAINT [FK_WarehouseOutputProductCodes_WarehouseOutputs_OutputId]
GO
ALTER TABLE [dbo].[WarehouseOutputProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProductDetails_WarehouseInputProducts_InputId_ProductId] FOREIGN KEY([InputId], [ProductId])
REFERENCES [dbo].[WarehouseInputProducts] ([InputId], [ProductId])
GO
ALTER TABLE [dbo].[WarehouseOutputProductDetails] CHECK CONSTRAINT [FK_WarehouseOutputProductDetails_WarehouseInputProducts_InputId_ProductId]
GO
ALTER TABLE [dbo].[WarehouseOutputProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProductDetails_WarehouseOutputProducts_OutputId_ProductId] FOREIGN KEY([OutputId], [ProductId])
REFERENCES [dbo].[WarehouseOutputProducts] ([OutputId], [ProductId])
GO
ALTER TABLE [dbo].[WarehouseOutputProductDetails] CHECK CONSTRAINT [FK_WarehouseOutputProductDetails_WarehouseOutputProducts_OutputId_ProductId]
GO
ALTER TABLE [dbo].[WarehouseOutputProducts]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProducts_ItemProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ItemProducts] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseOutputProducts] CHECK CONSTRAINT [FK_WarehouseOutputProducts_ItemProducts_ProductId]
GO
ALTER TABLE [dbo].[WarehouseOutputProducts]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputProducts_WarehouseOutputs_OutputId] FOREIGN KEY([OutputId])
REFERENCES [dbo].[WarehouseOutputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseOutputProducts] CHECK CONSTRAINT [FK_WarehouseOutputProducts_WarehouseOutputs_OutputId]
GO
ALTER TABLE [dbo].[WarehouseOutputs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputs_WarehouseFactorys_WarehouseFactoryId] FOREIGN KEY([WarehouseFactoryId])
REFERENCES [dbo].[WarehouseFactorys] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputs] CHECK CONSTRAINT [FK_WarehouseOutputs_WarehouseFactorys_WarehouseFactoryId]
GO
ALTER TABLE [dbo].[WarehouseOutputs]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputs_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputs] CHECK CONSTRAINT [FK_WarehouseOutputs_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[WarehouseOutputToFactories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToFactories_WarehouseFactorys_FactoryId] FOREIGN KEY([FactoryId])
REFERENCES [dbo].[WarehouseFactorys] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputToFactories] CHECK CONSTRAINT [FK_WarehouseOutputToFactories_WarehouseFactorys_FactoryId]
GO
ALTER TABLE [dbo].[WarehouseOutputToFactories]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToFactories_WarehouseOutputs_OutputId] FOREIGN KEY([OutputId])
REFERENCES [dbo].[WarehouseOutputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputToFactories] CHECK CONSTRAINT [FK_WarehouseOutputToFactories_WarehouseOutputs_OutputId]
GO
ALTER TABLE [dbo].[WarehouseOutputToOrders]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToOrders_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseOutputToOrders] CHECK CONSTRAINT [FK_WarehouseOutputToOrders_Orders_OrderId]
GO
ALTER TABLE [dbo].[WarehouseOutputToOrders]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToOrders_WarehouseOutputs_OutputId] FOREIGN KEY([OutputId])
REFERENCES [dbo].[WarehouseOutputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseOutputToOrders] CHECK CONSTRAINT [FK_WarehouseOutputToOrders_WarehouseOutputs_OutputId]
GO
ALTER TABLE [dbo].[WarehouseOutputToSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToSuppliers_WarehouseOutputs_OutputId] FOREIGN KEY([OutputId])
REFERENCES [dbo].[WarehouseOutputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputToSuppliers] CHECK CONSTRAINT [FK_WarehouseOutputToSuppliers_WarehouseOutputs_OutputId]
GO
ALTER TABLE [dbo].[WarehouseOutputToSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToSuppliers_WarehouseSuppliers_SourceId] FOREIGN KEY([SourceId])
REFERENCES [dbo].[WarehouseSuppliers] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputToSuppliers] CHECK CONSTRAINT [FK_WarehouseOutputToSuppliers_WarehouseSuppliers_SourceId]
GO
ALTER TABLE [dbo].[WarehouseOutputToWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToWarehouses_WarehouseOutputs_OutputId] FOREIGN KEY([OutputId])
REFERENCES [dbo].[WarehouseOutputs] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputToWarehouses] CHECK CONSTRAINT [FK_WarehouseOutputToWarehouses_WarehouseOutputs_OutputId]
GO
ALTER TABLE [dbo].[WarehouseOutputToWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOutputToWarehouses_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[WarehouseOutputToWarehouses] CHECK CONSTRAINT [FK_WarehouseOutputToWarehouses_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[Warehouses]  WITH CHECK ADD  CONSTRAINT [FK_Warehouses_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Warehouses] CHECK CONSTRAINT [FK_Warehouses_Companies_CompanyId]
GO
ALTER TABLE [dbo].[WarehouseSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseSuppliers_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseSuppliers] CHECK CONSTRAINT [FK_WarehouseSuppliers_Companies_CompanyId]
GO
ALTER TABLE [dbo].[WebConfigs]  WITH CHECK ADD  CONSTRAINT [FK_WebConfigs_Companies_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebConfigs] CHECK CONSTRAINT [FK_WebConfigs_Companies_Id]
GO
ALTER TABLE [dbo].[WebConfigs]  WITH CHECK ADD  CONSTRAINT [FK_WebConfigs_Templates_TemplateName] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[Templates] ([TemplateName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebConfigs] CHECK CONSTRAINT [FK_WebConfigs_Templates_TemplateName]
GO
ALTER TABLE [dbo].[WebInfos]  WITH CHECK ADD  CONSTRAINT [FK_WebInfos_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebInfos] CHECK CONSTRAINT [FK_WebInfos_Companies_CompanyId]
GO
