@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization;
@using Web.Admin.Components;
@using Web.Admin.Pages.Content.Components;
@using Web.Admin.Services;
@using Web.Models;
@using Web.Models.SeedWork;
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject IToastService ToastService;
@inject IContentApiClient ContentApiClient;
@inject ICompanyApiClient CompanyApiClient;

@if (ShowBox)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            @if (Medias == null)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else
        {
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chọn nội dung</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <div class="row">
                        <MediaSearch @ref="MediaSearchControl" OnSearch="SearchMedia"></MediaSearch>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Hình</th>
                                <th>Danh mục</th>
                                <th style="text-align:right">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Medias)
                            {
                                <tr>
                                    <td>
                                            @item.Titles.Where(e => e.Key == LanguageCode).Select(e => e.Value).FirstOrDefault()
                                    </td>
                                        <td style="text-align:center"><img src="@(BackendApiUrl + "/" + item.Image.FullPath + "?DummyId=" + DateTime.Now.Ticks)" asp-append-version="true" width="50px" /></td>
                                    <td>
                                        @item.CategoryNames.Where(e => e.Key == LanguageCode).Select(e => e.Value).FirstOrDefault()
                                    </td>
                                    <td style="text-align:right;width:75px">
                                            <button class="btn btn-primary btn-sm" @onclick="() => Add(item)">Thêm</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        </div>
    </div>
}
@code {
    protected bool ShowBox { get; set; }
    private List<MediaDto> Medias;

    private string BackendApiUrl { get; set; }

    [Parameter]
    public EventCallback<MediaDto> EventCallbak { get; set; }

    private MediaSearch MediaSearchControl { set; get; }
    private MediaListSearch MediaListSearch = new MediaListSearch();
    public MetaData MetaData { get; set; } = new MetaData();

    [CascadingParameter]
    private Error Error { set; get; }

    private string LanguageCode { set; get; }

    protected override async Task OnInitializedAsync()
    {
        BackendApiUrl = Configuration["BackendApiUrl"];

        var languages = await CompanyApiClient.GetLanguageList(Guid.Empty);
        if (languages.Count == 0 || languages.Contains("vi")) LanguageCode = "vi";
        else LanguageCode = languages.First();

        MediaListSearch.PageSize = 5;
    }

    public async Task RefreshList(bool result)
    {
        if (result)
        {
            try
            {
                var pagingResponse = await ContentApiClient.GetMedias(MediaListSearch);
                Medias = pagingResponse.Items;
                MetaData = pagingResponse.MetaData;
            }
            catch (Exception ex)
            {
                Error.ProcessError(ex);
            }
        }
    }

    public async Task SearchMedia(MediaListSearch mediaListSearch)
    {
        MediaListSearch = mediaListSearch;
        await RefreshList(true);
    }

    private async Task SelectedPage(int page)
    {
        MediaListSearch.PageNumber = page;
        await RefreshList(true);
    }

    public async Task Add(MediaDto media)
    {
        Hide();
        await EventCallbak.InvokeAsync(media);
    }

    public async Task Show()
    {
        ShowBox = true;
        if (Medias == null) await RefreshList(true);
        StateHasChanged();
    }

    private void Hide()
    {
        ShowBox = false;
        StateHasChanged();
    }
}