@using Web.Admin.Features;

@if (Nodes != null)
{
    <div class="card-body p-0">
        <table class="table table-hover">
            <tbody>
                @foreach (var node in Nodes)
                {
                    @if (node.Children == null || node.Children.Count == 0)
                    {
                        <tr>
                            <td class="border-0" style="cursor:pointer;padding-left:47px;@node.Style" @onclick="() => OnClick(node.Id)">@node.Text</td>
                        </tr>
                    }
                    else
                    {
                        <tr data-widget="expandable-table" aria-expanded="true">
                            <td style="@node.Style" @onclick="() => OnClick(node.Id)">
                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                @node.Text
                            </td>
                        </tr>
                        <tr class="expandable-body">
                            <td>
                                <TreeView Nodes="node.Children" SelectNode="OnClick"></TreeView>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter] public EventCallback<object> SelectNode { get; set; }

    [Parameter] public List<TreeNode> Nodes { get; set; }

    private async Task OnClick(object id)
    {
        await SelectNode.InvokeAsync(id);
    }
}
