@using Web.App.Services;
@using Web.Models;
@using System.IO;
@using Web.Models.Enums;
@using Web.Models.SeedWork;
@using Microsoft.Extensions.Configuration

@inject IToastService ToastService;
@inject IWarehouseApiClient WarehouseApiClient;

@if (ShowDialog && Model != null)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật Kho</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-xs">
                            <span class="input-group-text">Loại:</span>
                            <InputSelect class="form-select" @bind-Value="Model.Type">
                                @foreach (var type in DataSource.WarehouseTypes)
                                {
                                    <option value="@type.Key">@type.Value</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="input-group input-group-xs mt-2">
                            <span class="input-group-text">Tên:</span>
                            <InputText class="form-control" @bind-Value="Model.Name"></InputText>
                        </div>
                        <ValidationMessage For="()=> Model.Name"></ValidationMessage>

                        <div class="input-group input-group-xs mt-2">
                            <span class="input-group-text">Địa chỉ:</span>
                            <InputText class="form-control" @bind-Value="Model.Address"></InputText>
                        </div>
                        <ValidationMessage For="()=> Model.Address"></ValidationMessage>

                        <div class="input-group input-group-xs mt-2">
                            <span class="input-group-text">Số điện thoại:</span>
                            <InputText class="form-control" @bind-Value="Model.Phone"></InputText>
                        </div>
                        <ValidationMessage For="()=> Model.Phone"></ValidationMessage>

                        <div class="input-group input-group-xs mt-2">
                            <span class="input-group-text">Email:</span>
                            <InputText class="form-control" @bind-Value="Model.Email"></InputText>
                        </div>
                        <ValidationMessage For="()=> Model.Email"></ValidationMessage>

                        <div class="input-group input-group-xs mt-2">
                            <div class="form-check form-switch">
                                <InputCheckbox @bind-Value="Model.IsActive" class="form-check-input" role="switch"></InputCheckbox>
                                <label class="form-check-label">Sử dụng</label>
                            </div>
                        </div>
                        <ValidationMessage For="()=> Model.IsActive"></ValidationMessage>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-xs" @onclick="()=>Hide()" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary btn-xs">Lưu</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }

    private WarehouseDto Model { set; get; }

    [Parameter]
    public EventCallback<bool> CloseEventCallbak { get; set; }

    public async void Show(Guid id)
    {
        ShowDialog = true;
        Model = await WarehouseApiClient.GetWarehouse(id);
        StateHasChanged();
    }

    private async Task Hide()
    {
        await CloseEventCallbak.InvokeAsync(false);
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleSubmit()
    {
        var result = await WarehouseApiClient.UpdateWarehouse(Model);
        if (result)
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync(true);
            ToastService.ShowInfo("Lưu Kho thành công");
        }
        else
        {
            ToastService.ShowError("Lưu Kho không thành công");
        }
    }
}