@page "/home"

<PageTitle>Trang quản trị</PageTitle>

    <section class="content-header">
        <div class="container-fluid">
            <h1 class="m-0">Trang quảng trị</h1>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <span>Đăng nhập thành công</span>
        </div>
    </section>