@using Web.Admin.Services;
@using Web.Models;

@inject IToastService ToastService;
@inject IUserApiClient UserApiClient;

@if (ShowDialog && Model != null)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Tài khoản</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Model.UserName" readonly="readonly"></InputText>
                            </div>
                            <ValidationMessage For="()=> Model.UserName"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Mật khẩu</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Model.Password"></InputText>
                            </div>
                            <ValidationMessage For="()=> Model.Password"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Họ</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Model.FirstName"></InputText>
                            </div>
                            <ValidationMessage For="()=> Model.FirstName"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Tên</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Model.LastName"></InputText>
                            </div>
                            <ValidationMessage For="()=> Model.LastName"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Email</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Model.Email"></InputText>
                            </div>
                            <ValidationMessage For="()=> Model.Email"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Điện thoại</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Model.Phone"></InputText>
                            </div>
                            <ValidationMessage For="()=> Model.Phone"></ValidationMessage>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.ProductManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý sản phẩm</label>
                                    <ValidationMessage For="()=> Model.ProductManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.DocumentManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý tài liệu</label>
                                    <ValidationMessage For="()=> Model.DocumentManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.VideoManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý Video</label>
                                    <ValidationMessage For="()=> Model.VideoManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.AudioManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý Audio</label>
                                    <ValidationMessage For="()=> Model.AudioManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.PictureManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý hình ảnh</label>
                                    <ValidationMessage For="()=> Model.PictureManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.EventManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý sự kiện</label>
                                    <ValidationMessage For="()=> Model.EventManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.ConfigManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Cấu hình website</label>
                                    <ValidationMessage For="()=> Model.ConfigManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.ActionByThemselfManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Chỉ quản lý nội dung do mình tạo ra</label>
                                    <ValidationMessage For="()=> Model.ActionByThemselfManage"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.WarehouseManage" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Quản lý Bán hàng, Xuất nhập kho</label>
                                    <ValidationMessage For="()=> Model.WarehouseManage"></ValidationMessage>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-xs" @onclick="()=>Hide()" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary btn-xs">Lưu</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }
    private Guid CompanyId { set; get; }

    private CompanyUserDto Model { set; get; }

    [Parameter]
    public EventCallback<bool> CloseEventCallbak { get; set; }

    public async Task Show(Guid companyId, Guid userId)
    {
        ShowDialog = true;
        CompanyId = companyId;
        Model = await UserApiClient.GetUser(companyId, userId);
        StateHasChanged();
    }

    private void Hide()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleSubmit()
    {
        var result = await UserApiClient.UpdateUser(CompanyId, Model);
        if (result)
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync(true);
            ToastService.ShowInfo("Sửa tài khoản thành công");
        }
        else
        {
            ToastService.ShowError("Sửa tài khoản không thành công");
        }
    }
}