@using Web.Admin.Services;
@using Web.Models;
@using System.IO;
@using Web.Models.Enums;
@using Web.Models.SeedWork;
@using Microsoft.Extensions.Configuration

@inject IToastService ToastService;
@inject ITemplateApiClient TemplateApiClient;
@inject IConfiguration Configuration

@if (ShowDialog && Model != null)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật Template</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Tên:</label>
                                    <InputText class="form-control form-control-sm" @bind-Value="Model.TemplateName" readonly="readonly"></InputText>
                                    <ValidationMessage For="()=> Model.TemplateName"></ValidationMessage>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.IsPublic" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Dùng chung</label>
                                    <ValidationMessage For="()=> Model.IsPublic"></ValidationMessage>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Model.IsPublished" class="form-check-input"></InputCheckbox>
                                    <label class="form-check-label">Sử dụng</label>
                                    <ValidationMessage For="()=> Model.IsPublished"></ValidationMessage>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text">Hình:</span>
                                        <InputFile OnChange="OnInputFileChange" class="form-control form-control-sm" accept="image/png, image/jpeg, image/gif, image/webp"></InputFile>
                                    </div>
                                </div>
                                <img src="@(BackendApiUrl + "/" + Model.Image.FullPath)" asp-append-version="true" width="100%" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-xs" @onclick="()=>Hide()" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary btn-xs">Lưu</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }

    private TemplateDto Model { set; get; }
    private string BackendApiUrl { get; set; }

    [Parameter]
    public EventCallback<bool> CloseEventCallbak { get; set; }

    protected override void OnInitialized()
    {
        BackendApiUrl = Configuration["BackendApiUrl"];
    }
    public async void Show(string name)
    {
        ShowDialog = true;
        Model = await TemplateApiClient.GetTemplateByName(name);
        StateHasChanged();
    }

    private void Hide()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    private async void OnInputFileChange(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(); // get the files selected by the users
        foreach (var file in files)
        {
            //var resizedFile = await file.RequestImageFileAsync(file.ContentType, 640, 480); // resize the image file
            var buf = new byte[file.Size]; // allocate a buffer to fill with the file's data
            using (var stream = file.OpenReadStream(file.Size))
            {
                await stream.ReadAsync(buf); // copy the stream to the buffer
            }
            Model.Image = new FileData { Base64data = Convert.ToBase64String(buf), ContentType = file.ContentType, FileName = file.Name, Type = FileType.TemplateImage }; // convert to a base64 string!!
        }
    }

    protected async Task HandleSubmit()
    {
        var result = await TemplateApiClient.UpdateTemplate(Model);
        if (result)
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync(true);
            ToastService.ShowInfo("Lưu template thành công");
        }
        else
        {
            ToastService.ShowError("Lưu template không thành công");
        }
    }
}