/* /Components/TextEditor/ImageSelector.razor.rz.scp.css */
.dropzone[b-6kr9787rld] {
    position: relative;
    overflow: hidden;
    border: 2px dotted rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.09);
    margin-bottom: 20px;
    border-radius: 5px;
}

    .dropzone.dropzone-active[b-6kr9787rld] {
        background-color: #999;
    }

    .dropzone label[b-6kr9787rld] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

.fileProgress[b-6kr9787rld] {
    vertical-align: middle !important;
}

.text-icon-light[b-6kr9787rld] {
    color: #e9ecef;
}
/* /Pages/Content/Components/MediaPictureCreate.razor.rz.scp.css */
.dropzone[b-l256ppy8l2] {
    position: relative;
    overflow: hidden;
    border: 2px dotted rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.09);
    margin-bottom: 20px;
    border-radius: 5px;
}

    .dropzone.dropzone-active[b-l256ppy8l2] {
        background-color: #999;
    }

    .dropzone label[b-l256ppy8l2] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

.fileProgress[b-l256ppy8l2] {
    vertical-align: middle !important;
}

.text-icon-light[b-l256ppy8l2] {
    color: #e9ecef;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-pm75e2noby] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pm75e2noby] {
    flex: 1;
}

.sidebar[b-pm75e2noby] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pm75e2noby] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pm75e2noby]  a, .top-row[b-pm75e2noby]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-pm75e2noby]  a:hover, .top-row[b-pm75e2noby]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-pm75e2noby]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pm75e2noby] {
        display: none;
    }

    .top-row.auth[b-pm75e2noby] {
        justify-content: space-between;
    }

    .top-row[b-pm75e2noby]  a, .top-row[b-pm75e2noby]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pm75e2noby] {
        flex-direction: row;
    }

    .sidebar[b-pm75e2noby] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pm75e2noby] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-pm75e2noby]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-pm75e2noby], article[b-pm75e2noby] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
