@media (min-width: 1200px) and (max-width: 1399px)  {
    .attribute-section .attribute-box h2{font-size:18px; margin-top:0px}
    .attribute-section .attribute-box .detail-box{font-size:12px}
}

@media (min-width: 993px) and (max-width: 1199px) {
    body{font-size:14px}
    nav.navbar .navbar-brand ul {float: right;font-size: 10px;padding-left: 8px;max-width: 188px;padding-top: 8px;}

    .attribute-section .attribute-box h2{font-size:16px; margin-top:0px}
    .attribute-section .attribute-box .detail-box{padding: 10px 15px 0px 0px;font-size:10px}
}

@media (min-width: 768px) and (max-width: 992px) {
    .attribute-section .attribute-box h2{font-size:16px; margin-top:0px}
    .attribute-section .attribute-box .image-box img{width:50%}
    .attribute-section .attribute-box .detail-box{padding: 10px 15px 0px;font-size: 13px;text-align: center;}

    .slider_section .detail-box .title {font-size: 28px}
}

@media (min-width: 576px) and (max-width: 767px) {
    .attribute-section .attribute-box h2{font-size:24px;}
    .attribute-section .attribute-box .detail-box{padding: 10px 15px 0px;font-size: 14px;text-align: justify;}

    .slider_section .detail-box .title {font-size: 24px;}
}

@media (min-width: 416px) and (max-width: 575px){
    .slider_section .detail-box .title {font-size: 20px}
}
@media (max-width: 415px){
    .navbar-brand a:has(img) {display:none}
}
