@using Web.Admin.Services;
@using Web.Models;

@inject IToastService ToastService;
@inject IUserApiClient UserApiClient;

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <EditForm Model="Data" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Tài khoản</span>
                                <InputText class="form-control form-control-sm" @bind-Value="UserName" readonly="readonly"></InputText>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3" style="font-weight:bold">
                                <span class="input-group-text">Mật khẩu</span>
                                <InputText class="form-control form-control-sm" @bind-Value="Data.Title"></InputText>
                            </div>
                            <ValidationMessage For="()=> Data.Title"></ValidationMessage>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-xs" @onclick="()=>Hide()" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary btn-xs">Lưu</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }
    private Guid CompanyId { set; get; }

    private TitleStringDto Data { set; get; } = new TitleStringDto();
    private string UserName { set; get; }

    [Parameter]
    public EventCallback CloseEventCallbak { get; set; }

    public async Task Show(CompanyUserDto user)
    {
        ShowDialog = true;
        Data.Id = user.Id.ToString();
        Data.Title = user.Password;
        UserName = user.UserName;
        StateHasChanged();
    }

    private void Hide()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleSubmit()
    {
        var result = await UserApiClient.UpdateChildPasword(Data);
        if (string.IsNullOrEmpty(result))
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync();
            ToastService.ShowInfo("Đổi mật khẩu thành công");
        }
        else ToastService.ShowError(result);
    }
}