@using Web.Backend.Services;
@using Web.Models;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IToastService ToastService;
@inject ITemplateApiClient TemplateApiClient;

@if (ShowDialog && Model != null)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa Position</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Component:</label>
                            <InputSelect class="form-control form-control-sm" @bind-Value="Model.ComponentName">
                                <option value="">Tất cả các trang (Template)</option>
                                @if (Components != null)
                                {
                                    @foreach (var component in Components)
                                    {
                                        <option value="@component.ComponentName">@component.ComponentName - @component.Describe</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="()=> Model.ComponentName"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tên:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="Model.PositionName" readonly="readonly"></InputText>
                            <ValidationMessage For="()=> Model.PositionName"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Mô tả:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="Model.Describe"></InputText>
                            <ValidationMessage For="()=> Model.Describe"></ValidationMessage>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-xs" @onclick="()=>Hide()" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary btn-xs">Lưu</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }

    private TemplatePositionDto Model { set; get; }
    private List<TemplateComponentDto> Components;

    [Parameter]
    public EventCallback<bool> CloseEventCallbak { get; set; }

    private PagingParameters Paging = new PagingParameters(0);

    public async void Show(string templateName, string positionName, string componentName)
    {
        Model = await TemplateApiClient.GetTemplatePosition(templateName, positionName, componentName);

        var pagingResponse = await TemplateApiClient.GetTemplateComponentList(Model.TemplateName, Paging);
        Components = pagingResponse.Items;

        ShowDialog = true;
        StateHasChanged();
    }

    private void Hide()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleSubmit()
    {
        var result = await TemplateApiClient.UpdateTemplatePosition(Model);
        if (result)
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync(true);
            ToastService.ShowInfo("Lưu Position thành công");
        }
        else
        {
            ToastService.ShowError("Lưu Position không thành công");
        }
    }
}