@using Web.Backend.Services;
@using Web.Models;
@using Web.Backend.Components;
@using Web.Models.SeedWork;

@inject IToastService ToastService;
@inject ITemplateApiClient TemplateApiClient;

@if (!string.IsNullOrEmpty(TemplateName))
{
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">Danh sách Skin của Template <strong>@TemplateName</strong></h3>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Skin</th>
                        <th>Mô tả</th>
                        <th>Module</th>
                        <th style="text-align:right">
                            <button class="btn btn-primary btn-xs" @onclick="()=> OpenCreatePopup()">Thêm</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <TemplateSkinCreate @ref="CreateTemplateSkin" CloseEventCallbak="RefreshList"></TemplateSkinCreate>
                    @if (Skins != null)
                    {
                        @foreach (var item in Skins)
                        {
                            <tr>
                                <td>@item.SkinName</td>
                                <td>@item.Describe</td>
                                <td>@item.ModuleName</td>
                                <td style="text-align:right">
                                    <button class="btn btn-success btn-xs" @onclick="()=> OpenUpdatePopup(item.SkinName)">Sửa</button>
                                    <button class="btn btn-danger btn-xs" @onclick="()=> OnDelete(item.SkinName)">Xóa</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <Confirmation ConfirmationMessage="Bạn có chắc chắn xóa?"
              ConfirmationTitle="Xóa Skin"
              @ref="DeleteConfirmation"
              ConfirmationChanged="OnConfirmDelete">
    </Confirmation>

    <TemplateSkinUpdate @ref="UpdateTemplateSkin" CloseEventCallbak="RefreshList"></TemplateSkinUpdate>
}

@code {
    private string TemplateName { set; get; }
    private List<TemplateSkinDto> Skins { set; get; }
    private string DeleteSkinName { set; get; }

    protected Confirmation DeleteConfirmation { set; get; }
    protected TemplateSkinCreate CreateTemplateSkin { set; get; }
    protected TemplateSkinUpdate UpdateTemplateSkin { set; get; }

    public MetaData MetaData { get; set; } = new MetaData();
    private PagingParameters Paging = new PagingParameters(5);

    [CascadingParameter]
    private Error Error { set; get; }

    public async Task RefreshList()
    {
        try
        {
            var pagingResponse = await TemplateApiClient.GetTemplateSkinList(TemplateName, Paging);
            Skins = pagingResponse.Items;
            MetaData = pagingResponse.MetaData;
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex);
        }
    }

    private async Task SelectedPage(int page)
    {
        Paging.PageNumber = page;
        await RefreshList();
    }

    public async void Show(string name)
    {
        TemplateName = name;

        await RefreshList();

        StateHasChanged();
    }

    public void OpenCreatePopup()
    {
        CreateTemplateSkin.Show(TemplateName);
    }
    public void OpenUpdatePopup(string paramName)
    {
        UpdateTemplateSkin.Show(TemplateName, paramName);
    }

    public void OnDelete(string name)
    {
        DeleteSkinName = name;
        DeleteConfirmation.Show();
    }

    public async Task OnConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await TemplateApiClient.DeleteTemplateSkin(TemplateName, DeleteSkinName);
            await RefreshList();
        }
    }
}