@using Dybi.App.Services;
@using Web.Models;
@using System.IO;
@inject IToastService ToastService;
@inject IWarehouseApiClient WarehouseApiClient;

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm nhà cung cấp</h5>
                        <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Tên:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="Model.Name"></InputText>
                            <ValidationMessage For="()=> Model.Name"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Địa chỉ:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="Model.Address"></InputText>
                            <ValidationMessage For="()=> Model.Address"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Số điện thoại:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="Model.Phone"></InputText>
                            <ValidationMessage For="()=> Model.Phone"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="Model.Email"></InputText>
                            <ValidationMessage For="()=> Model.Email"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Ghi chú:</label>
                            <InputTextArea class="form-control form-control-sm" @bind-Value="Model.Note"></InputTextArea>
                            <ValidationMessage For="()=> Model.Note"></ValidationMessage>
                        </div>
                        <div class="form-check form-switch">
                            <InputCheckbox @bind-Value="Model.IsActive" class="form-check-input" role="switch"></InputCheckbox>
                            <label class="form-check-label">Sử dụng</label>
                            <ValidationMessage For="()=> Model.IsActive"></ValidationMessage>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" @onclick="()=>Hide()" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary btn-sm">Thêm</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }

    private WarehouseSupplierDto Model { set; get; } = new WarehouseSupplierDto();

    [Parameter]
    public EventCallback<bool> CloseEventCallbak { get; set; }

    public void Show()
    {
        ShowDialog = true;
        Model.Id = Guid.NewGuid();
        StateHasChanged();
    }

    private async Task Hide()
    {
        await CloseEventCallbak.InvokeAsync(false);
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleSubmit()
    {
        var result = await WarehouseApiClient.CreateSupplier(Model);
        if (result)
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync(true);
            ToastService.ShowInfo("Thêm Nhà cung cấp thành công");
        }
        else
        {
            ToastService.ShowError("Thêm Nhà cung cấp không thành công");
        }
    }
}